# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
*.egg

venv/
env/
.venv/

.idea/
.vscode/
*.swp
*.swo
*~

.ipynb_checkpoints/
*.ipynb

.DS_Store
Thumbs.db

data/raw/*.csv


outputs/models/*.pkl
outputs/models/*.parquet
outputs/models/*.npy
outputs/figures/latent_space
analysis/latent_space_deserts.py

!data/raw/.gitkeep
!outputs/models/.gitkeep
!outputs/figures/.gitkeep
!notebooks/.gitkeep
